/* RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    line-height: 1;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #141414;
}

a,
p {
    text-decoration: none;
    color: white;
}

ol, ul {
    list-style: none;
    font-size: 0;
}

/* HEADER */
.header {
    background: black;
    border-bottom: 4px solid green;
}

/* LOGO */
.logo {
    display: flex;
    flex-direction: row;
}

.logo__wrap {
    margin: 3% 5%;
}

h1 {
    text-shadow: 10px 10px 0px greenyellow;
}

h1,
h2 {
    font-size: 2rem;
    color: green;
    -webkit-text-stroke: 1px white;  
}

/* MENU */
.menu {
    white-space: nowrap;
    margin: 3%  2%;
}

.menu__item {
    padding: 6%;
    position: relative;
    font-size: 1rem;
    display: inline-block;
}

.menu__item:hover {
    background-color: green;
    outline: 1px solid white;
}

.menu__submenu {
    display: none;
    position: absolute;
}

.menu__item:hover .menu__submenu {
    display: block;
    top: 60px;
    left: 0;
}


.menu__sublink,
.menu__subsublink {
    display: block;
    padding: 12px;
    width: auto;
    height: 50px;
    white-space: nowrap;
    background: green;
    border: 1px solid white;
    font-size: 1rem;
}


.menu__subsubmenu {
    display: none;
}

.menu__subsublink {
    position: relative;
    top: -30px;
    left: 168px;
}

.menu__sublink:hover .menu__subsubmenu {
    display: block;
}

/* MAIN */
.main__wrap {
    display: flex;
    justify-content: center;
    margin: 5%;

} 

.main__container {
    display: flex;
}

.main__picture {
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
}

#audio::-webkit-media-controls-panel,
#audio::-webkit-media-controls-timeline-container,
#audio::-webkit-media-controls-current-time-display,
#audio::-webkit-media-controls-time-remaining-display,
#audio::-webkit-media-controls-timeline,
#audio::-webkit-media-controls-volume-slider-container,
#audio::-webkit-media-controls-volume-slider {
	background: green;
	color: black;
}

.main__infomation {
    width: 50%;
    padding: 8% 6%;
    margin: 0% 5%;
    background-color: green;
    border: 1px solid white;
    border-radius: 20px;
}

.main__text {
    display: inline-block;
}

.main__video {
    /* width: 125%; */
    height: 400px;
    width: 50%;
    margin-left: 25%;
}

/* FOOTER */

h3 {
    padding: 2%;
    margin-top: 5%;
    background-color: black;
    border-top: 4px solid green;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}